<form [formGroup]="dbForm" (ngSubmit)="onSubmit()">
  <div formArrayName="tables">
    <ng-container *ngFor="let table of tables.getTables(); let ti = index">
      <app-schema-entry [table]="table" [tableIdx]="ti"/>
    </ng-container>
  </div>

  <button type="button" (click)="tables.addNewTable()">Add Table</button>

  <select formControlName="outputFormat" id="outputFormat">
    <option *ngFor="let format of Format | keyvalue" [value]="format.key">{{format.value}}</option>
  </select>

  <button type="submit">Generate Data</button>
</form>
