<form [formGroup]="dbForm" (ngSubmit)="onSubmit()" class="flex flex-col h-screen">
  <div class="sticky top-0 z-50 pt-6 pb-4 mb-2 bg-white shadow">
    <h1
      class="bg-gradient-to-br from-indigo-400 to-cyan-400 text-transparent bg-clip-text text-6xl font-bold text-center py-1">
      Specks
    </h1>
    <h2 class="text-xl font-medium text-center">
      Generate comprehensive test datasets easily.
    </h2>

    <div class="flex justify-center pt-2">
      <select formControlName="outputFormat" id="outputFormat" class="border-2 rounded px-1 text-lg font-medium">
        <option *ngFor="let format of Format | keyvalue" [value]="format.key">{{ format.value }}</option>
      </select>

      <button type="submit" (click)="onPreviewClick()" class="border-2 rounded hover:bg-gray-200 px-4 py-2 mx-2 text-lg font-medium">Preview
      </button>
      <button type="submit" (click)="onGenerateClick()" class="bg-sky-500 hover:bg-cyan-600 text-white text-lg font-medium rounded px-4 py-2">
        Generate Data
      </button>
    </div>
  </div>

  <div formArrayName="tables" class="grow my-2 flex">
    <div>
      <div class="mr-auto" *ngFor="let table of tables.getTables(); let ti = index">
        <app-schema-entry [table]="table" [tableIdx]="ti"/>
      </div>

      <button type="button" (click)="tables.addNewTable()"
              class="text-white font-medium bg-sky-500 hover:bg-cyan-600 rounded px-4 py-2 ml-2 my-4">Add Table
      </button>
    </div>
  </div>

  <footer class="bg-gradient-to-br from-indigo-400 to-cyan-400 sticky bottom-0 z-50">
    <div class="w-full mx-auto my-2 flex justify-between">
      <span class="text-white text-lg px-2 font-medium">Specks.dev</span>

      <ul class="flex flex-wrap items-center px-2">
        <li>
          <a href="https://github.com/CowleyW/specks" class="text-white">Github</a>
        </li>
      </ul>
    </div>
  </footer>
</form>
