<div [formGroup]="reference">
  <input type="text" formControlName="referenceName" id="referenceName{{tableIdx}}({{referenceIdx}})"/>

  <select formControlName="referenceColumn" id="referenceColumn{{tableIdx}}({{referenceIdx}})">
    <ng-container *ngFor="let table of tables.getTables(); let ti = index">
      <option *ngFor="let column of tables.getColumns(ti); let ci = index" [value]="ti + '-' + ci">
        {{table.get('tableName')?.value}}: {{column.get('columnName')?.value}}
      </option>
    </ng-container>
  </select>

  <label for="referencePrimaryKey{{tableIdx}}({{referenceIdx}})">Primary Key</label>
  <input type="checkbox" formControlName="referencePrimaryKey" id="referencePrimaryKey{{tableIdx}}({{referenceIdx}})"/>

  <label for="referenceUnique{{tableIdx}}({{referenceIdx}})">Unique</label>
  <input type="checkbox" formControlName="referenceUnique" id="referenceUnique{{tableIdx}}({{referenceIdx}})"/>

  <button (click)="tables.removeReference(tableIdx, referenceIdx)">Remove</button>
</div>
