<div [formGroup]="table">
  <input type="text" formControlName="tableName" id="tableName{{tableIdx}}">
  <!-- Columns -->
  <div>
    <ng-container *ngFor="let column of tables.getColumns(tableIdx); let ci = index">
      <div [formGroup]="column">
        <input type="text" formControlName="columnName" id="columnName{{tableIdx}}({{ci}})">

        <app-type-modifier [column]="column" [tableIdx]="tableIdx" [columnIdx]="ci"></app-type-modifier>
        <button type="button" (click)="tables.removeColumn(tableIdx, ci)">Remove</button>
      </div>
    </ng-container>
    <button type="button" (click)="tables.addNewColumn(tableIdx)">Add Column</button>
  </div>

  <!-- References -->
  <div>
    <ng-container *ngFor="let reference of tables.getReferences(tableIdx); let ri = index">
      <app-reference-entry [reference]="reference" [tableIdx]="tableIdx" [referenceIdx]="ri"></app-reference-entry>
    </ng-container>
    <button type="button" (click)="tables.addNewReference(tableIdx)">Add Reference</button>
  </div>

  <label for="numRows{{tableIdx}}">Rows</label>
  <input type="number" formControlName="numRows" id="numRows{{tableIdx}}">

  <button type="button" (click)="tables.removeTable(tableIdx)">Remove Table</button>
</div>
