<div [formGroup]="table" class="p-2">
  <input type="text" formControlName="tableName" id="tableName{{tableIdx}}" class="text-lg border-2 px-1 rounded">
  <!-- Columns -->
  <div class="my-2">
    <ng-container *ngFor="let column of tables.getColumns(tableIdx); let ci = index">
      <div [formGroup]="column" class="my-1">
        <app-column-entry [column]="column" [tableIdx]="tableIdx" [columnIdx]="ci"></app-column-entry>
      </div>
    </ng-container>
    <button type="button" (click)="tables.addNewColumn(tableIdx)" class="border-2 px-1 rounded">Add Column</button>
  </div>

  <!-- References -->
  <div class="my-2">
    <ng-container *ngFor="let reference of tables.getReferences(tableIdx); let ri = index">
      <div class="my-1">
        <app-reference-entry [reference]="reference" [tableIdx]="tableIdx" [referenceIdx]="ri"></app-reference-entry>
      </div>
    </ng-container>
    <button type="button" (click)="tables.addNewReference(tableIdx)"
            class="border-2 px-1 rounded disabled:bg-gray-200 disabled:text-neutral-700" [disabled]="!tables.hasReferencableColumn(tableIdx)">Add Reference
    </button>
  </div>

  <div>
    <label for="numRows{{tableIdx}}" class="mr-1">Rows</label>
    <input type="number" formControlName="numRows" id="numRows{{tableIdx}}" class="border-2 px-1 rounded">

    <button type="button" (click)="tables.removeTable(tableIdx)" class="border-2 rounded px-1 ml-4 border-red-500 text-red-500">Remove Table</button>
  </div>
</div>
