<ng-container [formGroup]="column">
  <ng-container [formGroup]="columnType">
    <select formControlName="name" id="columnType{{tableIdx}}({{columnIdx}})" (change)="initType($event)">
      <option *ngFor="let t of tables.types" [value]="t.name">{{ t.name }}</option>
    </select>
  </ng-container>

  <label for="columnPrimaryKey{{tableIdx}}({{columnIdx}})">Primary Key</label>
  <input type="checkbox" formControlName="columnPrimaryKey" id="columnPrimaryKey{{tableIdx}}({{columnIdx}})"/>

  <label for="columnUnique{{tableIdx}}({{columnIdx}})">Unique</label>
  <input type="checkbox" formControlName="columnUnique" id="columnUnique{{tableIdx}}({{columnIdx}})"/>

  <ng-container *ngIf="columnType.get('name')?.value === 'Random Number'" [formGroup]="columnType">
    <label for="columnTypeMin{{tableIdx}}({{columnIdx}})">Min</label>
    <input type="number" formControlName="min" id="columnTypeMin{{tableIdx}}({{columnIdx}})"/>

    <label for="columnTypeMax{{tableIdx}}({{columnIdx}})">Max</label>
    <input type="number" formControlName="max" id="columnTypeMax{{tableIdx}}({{columnIdx}})"/>
  </ng-container>

  <ng-container *ngIf="columnType.get('name')?.value === 'Age'" [formGroup]="columnType">
    <label for="columnTypeMin{{tableIdx}}({{columnIdx}})">Min</label>
    <input type="number" formControlName="min" id="columnTypeMin{{tableIdx}}({{columnIdx}})"/>

    <label for="columnTypeMax{{tableIdx}}({{columnIdx}})">Max</label>
    <input type="number" formControlName="max" id="columnTypeMax{{tableIdx}}({{columnIdx}})"/>
  </ng-container>

  <ng-container *ngIf="columnType.get('name')?.value === 'Date'" [formGroup]="columnType">
    <label for="columnTypeMin{{tableIdx}}({{columnIdx}})">Min</label>
    <input type="date" formControlName="min" id="columnTypeMin{{tableIdx}}({{columnIdx}})"/>

    <label for="columnTypeMax{{tableIdx}}({{columnIdx}})">Max</label>
    <input type="date" formControlName="max" id="columnTypeMax{{tableIdx}}({{columnIdx}})"/>

    <label for="columnTypeFormat{{tableIdx}}({{columnIdx}})">Format</label>
    <select formControlName="format" id="columnTypeFormat{{tableIdx}}({{columnIdx}})">
      <option *ngFor="let f of tables.dateFormats" [value]="f">{{ f }}</option>
    </select>
  </ng-container>

  <ng-container *ngIf="columnType.get('name')?.value === 'Datetime'" [formGroup]="columnType">
    <label for="columnTypeMin{{tableIdx}}({{columnIdx}})">Min</label>
    <input type="date" formControlName="min" id="columnTypeMin{{tableIdx}}({{columnIdx}})"/>

    <label for="columnTypeMax{{tableIdx}}({{columnIdx}})">Max</label>
    <input type="date" formControlName="max" id="columnTypeMax{{tableIdx}}({{columnIdx}})"/>

    <label for="columnTypeFormat{{tableIdx}}({{columnIdx}})">Format</label>
    <select formControlName="format" id="columnTypeFormat{{tableIdx}}({{columnIdx}})">
      <option *ngFor="let f of tables.dateFormats" [value]="f">{{ f }}</option>
    </select>
  </ng-container>
</ng-container>
